<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- mapper임을 명시하기 위한 DTD 선언 -->
		
<mapper namespace="com.spring.mapper.BoardMapper">
	<select id="getAllSimpleBoard" resultType="com.springboard.adv.dto.BoardDTO">
		SELECT * FROM BOARD
	</select>

	<insert id="insertBoard">
		INSERT INTO BOARD 
		VALUES(
			(SELECT IFNULL(MAX(NUM)+1,1)
		     FROM BOARD AS B), #{writer}, #{email}, #{subject}, #{password}, NOW(),
			(SELECT IFNULL(MAX(REF)+1,1)
		     FROM BOARD AS B), 1, 1, 0, #{content})
	</insert>
	
	<select id="getOneBoard" resultType="com.springboard.adv.dto.BoardDTO">
		SELECT * FROM BOARD WHERE NUM=#{num}
	</select>
	
	<update id="increaseReadCount">
		UPDATE BOARD SET READ_COUNT = READ_COUNT + 1 WHERE NUM=#{num}
	</update>
	
	<select id="validateUserCheck" resultType="com.springboard.adv.dto.BoardDTO">
		SELECT * FROM BOARD WHERE NUM=#{num} AND PASSWORD=#{password}
	</select>
	
	<update id="updateBoard">
		UPDATE BOARD SET SUBJECT=#{subject}, CONTENT=#{content} WHERE NUM=#{num}
	</update>
	
	<delete id="deleteBoard">
		DELETE FROM BOARD WHERE NUM=#{num}
	</delete>
	
	<update id="updateBoardReplyStep">
		<![CDATA[
			UPDATE 	BOARD 
			SET 	RE_STEP = RE_STEP + 1
			WHERE 	REF = #{ref} AND RE_STEP > #{reStep}
		]]>
	</update>
	
	<insert id="insertReplyBoard">
		INSERT INTO BOARD
		VALUES(
			(SELECT MAX(NUM)+1
			 FROM BOARD AS NUM), #{writer}, #{email},
			 #{subject}, #{password}, now(),
			 #{ref}, #{reStep}+1, #{reLevel}+1, 0, 
			 #{content})		
	</insert>
	
	<!-- 게시글의 개수를 반환하는 쿼리  -->
	<select id="getAllBoardCount" resultType="int">
		<choose>
			<when test="searchKeyword.equals('total')">
				<choose>
					<when test="searchWord.equals('')">
						SELECT COUNT(*)
						FROM BOARD
					</when>
					<otherwise>
						SELECT COUNT(*)
						FROM BOARD
						WHERE SUBJECT LIKE CONCAT('%',#{searchWord},'%') OR
							  WRITER LIKE CONCAT('%',#{searchWord},'%')					
					</otherwise>
				</choose>
			</when>
			<otherwise>
				SELECT COUNT(*)
				FROM BOARD
				WHERE 
					<if test="searchKeyword.equals('writer')">
						WRITER LIKE CONCAT('%',#{searchWord},'%')
					</if>
					<if test="searchKeyword.equals('subject')">
						SUBJECT LIKE CONCAT('%',#{searchWord},'%')					
					</if>
			</otherwise>
		</choose>
	</select>
	
	<!-- 게시글의 내용을 반환하는 쿼리 -->
	<select id="getSearchBoard" resultType="com.springboard.adv.dto.BoardDTO">
		<choose>
			<when test="searchKeyword.equals('total')">
				<choose>
					<when test="searchWord.equals('')">
						SELECT * FROM BOARD
						ORDER BY REF DESC, RE_STEP ASC
						<!-- 아직 페이징 처리 전이므로 LIMIT 처리 안함  -->					
					</when>
					<otherwise>
						SELECT * FROM BOARD
						WHERE SUBJECT LIKE CONCAT('%',#{searchWord},'%') OR
							  WRITER LIKE CONCAT('%',#{searchWord}, '%')
						ORDER BY REF DESC, RE_STEP ASC
						<!-- 아직 페이징 처리 전이므로 LIMIT 처리 안함  -->					
					</otherwise>
				</choose>
			</when>
			<otherwise>
				SELECT * FROM BOARD
				WHERE 
					<if test="searchKeyword.equals('writer')">
						WRITER LIKE CONCAT('%',#{searchWord}, '%')
					</if>
					<if test="searchKeyword.equals('subject')">
						SUBJECT LIKE CONCAT('%',#{searchWord}, '%')
					</if>
				ORDER BY REF DESC, RE_STEP ASC
				<!-- 아직 페이징 처리 전이므로 LIMIT 처리 안함  -->					
			</otherwise>
		</choose>
	</select>
	
	
</mapper>